@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	background-color: #883388;
	color: #333;
	font-size: 13px;
	font-family: "Arial", "Simsun", "serif";
	margin-top: 10px;
}

#logo h1,#top_menu,#content_main h1,#content_main h2,#content_main h3,#content_main h4,#content_main h5,#content_main h6
	{
	font-weight: normal;
	font-family: "Simsun", "sans-serif";
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

select {
	width: 4em;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border: none;
}

tr,td {
	padding: 1px;
	vertical-align: top;
	border: none;
}

/* Links */
a,a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #0c4a8a;
	text-decoration: none;
}

a img {
	border: none;
}

a:focus,a:hover,a:active {
	outline: none;
}

/* Headlines */
#content_main h1 {
	font-size: 28px;
}

#content_main h2 {
	font-size: 22px;
}

#content_main h3 {
	font-size: 16px;
}

#content_main h4 {
	font-size: 14px;
}

#content_main h5 {
	font-size: 13px;
}

#content_main h6 {
	font-size: 12px;
}

#content_main h1,#content_main h2,#content_main h3,#content_main h4,#content_main h5,#content_main h6
	{
	color: #444;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 5px 0px;
	letter-spacing: -1px;
}

/* Wrapper */
#wrap {
	background: #FFF;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Content */
#content {
	padding: 10px 0 0 0;
	line-height: 24px;
}

#content_main {
	padding: 10px 0px 10px 0px;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

#header,#content,#top_menu,#footer {
	display: inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	width: 920px;
}

#content_main {
	width: 920px;
	float: left;
}

.alpha {
	margin-left: 0
}

.omega {
	margin-right: 0
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

#address_bar {
	background-color: #F2D9F2;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 5px 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#address_bar span {
	font-size: 15px;
	color: #76AF4C;
	font-weight: bold;
}

#single_area {
	margin: 12px;
	padding: 0px 0px 10px 0px;
}

#single_area p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
}

#single_area ul {
	list-style-type: square;
	margin: 0px;
	padding: 0px 0px 15px 0px;
}

#single_area ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

#single_area ul ul {
	list-style-type: square;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#single_area ol {
	list-style-type: decimal;
	margin: 0px;
	padding: 0px 0px 15px 0px;
}

#single_area ol li {
	list-style-type: decimal;
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

#single_area blockquote {
	background: #EAF6E5;
	margin: 0px 25px 15px 25px;
	padding: 10px 20px 0px 15px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#single_area blockquote p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
}

#pictures {
	margin-bottom: 10px;
}

#pictures a img {
	float: left;
	margin: 0px 5px 10px 0px;
	padding: 1px;
	border: 1px solid #ccc;
}

#pictures a:hover img {
	float: left;
	margin: 0px 5px 10px 0px;
	padding: 1px;
	border: 1px solid #333;
}

/* Footer */
#footer {
	padding: 15px 0;
	background-color: #FFFFFF;
	color: #444;
	text-align: left;
	font-size: 12px;
}

#footer p {
	float: right;
	color: #666;
	margin-right: 10px;
	clear: both;
}

#footer p a {
	color: #666;
}

.hover {
	color: #FFFCEF;
}

/* Header */
#header {
	padding-top: 20px;
	padding-bottom: 20px;
}

#logo h1 {
	color: #000000;
	font-size: 36px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	letter-spacing: -4px;
}

#logo h1 a {
	text-decoration: none;
	color: #333;
}

#logo h1 a:hover {
	text-decoration: none;
	color: #000000;
}

#logo {
	padding: 0 0 0 10px;
}

#logo p {
	display: block;
	float: left;
	margin-top: 20px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #F4F4F4;
	padding: 8px 10px;
	margin-left: 5px;
	color: #0c4a8a;
}

#logo img {
	float: left;
	display: block;
}

/* Top Dropdown */
#top_menu {
	position: static;
}

#top_menu ul {
	font-size: 14px;
}

#top_menu ul li {
	position: relative;
	display: inline;
	float: left;
	z-index: 9999;
}

#top_menu ul li a {
	display: block;
	background-color: #E9BED5;
	color: #2c4618;
	padding: 8px 20px;
	text-decoration: none;
	font-weight: normal;
	margin-right: 6px;
	-moz-border-radius-topleft: 5px;
	-khtml-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-khtml-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

#top_menu ul li a:hover {
	color: #000000;
	background-color: #EAF6E5;
}

* html #top_menu ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

#top_menu ul li ul {
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
	font-size: 14px;
}

#top_menu ul li ul li {
	display: list-item;
	float: none;
}

#top_menu ul li ul li ul {
	top: 0;
}

#top_menu ul li ul li a {
	width: 100px;
	padding: 8px 5px 8px 20px;
	margin: 0;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#top_menu .selected a,#top_menu .selected a:link,#top_menu .selected a:visited,#top_menu .selected a:hover
	{
	background: #CA639D;
}

#searchform ul li {
	position: relative;
	display: inline;
	margin-left: 0;
}

/* Sidebar */
#sidebar {
	float: right;
	padding: 15px 0px 0px 10px;
	font-size: 13px;
}

#sidebar, #sidebar a {
	color: #330000;
}

#sidebar .widget {
	background-color: #F2D9F2;
	margin: 0px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#sidebar .whitebox {
	background: #FFFFFF;
	margin: 0px;
	padding: 10px 10px 5px 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#sidebar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}

#sidebar ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#sidebar ul li li {
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

#sidebar ul li ul li {
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

#inner_top_menu {
	margin-bottom: 10px;
}

#inner_top_menu a {
	background: #C9E3AB;
	color: #2c4618;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: normal;
	margin-right: 6px;
}

#inner_top_menu a:hover {
	color: #000000;
	background: #F9E3AB;
}

.single_maintable {
	width: 650px;
}
